.about_img_left {
    width: 45.51581rem;
    height: 28.875rem;
    flex-shrink: 0;
}
.abt_data{
    position: relative;
    background-color: aquamarine;
}
.about_disc {
    color: #727272;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 1.25rem 0;
}
.about_img_right{
    position: absolute;
    left: 30%;
}

