.learn_more {
    display: inline-flex;
    padding: 0.5rem 0.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 3.75rem;
    background-color: #397768;
}
.bg_color {
    display: inline-flex;
    padding: 0.5rem 0.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 3.75rem;
    background: #FFF;
}
.learn_more_span {
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.span_color {
    color: #000;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.learn_arrow {
    font-size: 0.75rem;
    margin-top: -4px;
    color: #FFF;
}
.text_color {
    font-size: 0.75rem;
    margin-top: -4px;
    color: #000;
}

@media(min-width:768px) {
    .learn_more {
        padding: 15px 20px;
        gap: 15px;
        border-radius: 52px;
    }
    .bg_color {
        padding: 15px 20px;
        gap: 15px;
        border-radius: 52px;
    }
    .learn_more_span {
        font-size: 18px;
        line-height: 20px;
    }
    .span_color {
        font-size: 18px;
        line-height: 20px;
    }
    .learn_arrow {
        font-size: 20px;
        margin-top: -4px;
    }
    .text_color {
        font-size: 20px;
        margin-top: -4px;
    }
}

@media(min-width:1200px) {
    .learn_more {
        padding: 20px 25px;
        gap: 21px;
        border-radius: 45px;
    }
    .bg_color {
        padding: 20px 25px;
        gap: 21px;
        border-radius: 45px;
    }
    .learn_more_span {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
    }
    .span_color {
        font-size: 25px;
        line-height: 25px;
    }
    .learn_arrow {
        font-size: 24px;
        margin-top: -4px;
    }
    .text_color {
        font-size: 24px;
        margin-top: -4px;
    }
}